{
    "ignore": [
        "node_modules"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-es2015-modules-commonjs",
        "add-module-exports",
        "transform-runtime",
        "transform-react-display-name"
    ],
    "presets": [
        "react",
        "es2015",
        "stage-1"
    ],
    "env": {
        "plugins": [
            "react-hot-loader/babel"
        ]
    }
}
